<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Darsh/Desktop/frmwrk/src/main/java/SeleniumTest.java" parallel="methods" thread-count="5"><classes><class name="SeleniumTest"/></classes></test></suite>